@import "core/settings";
@import "core/links";

body {
  background-color: rgba(140, 180, 180, 0.2);
  margin: 0;
  height: 100vh;
}

p {
  margin: 0;
}

.card {
  height: 100vh;
}
.form {
  //max-height: 70vh;
  overflow-y: scroll;
}
